@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,900|Nanum+Pen+Script&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fffffd;
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Nanum Pen Script', cursive; */
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

h1{
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-family: 'Nanum Pen Script', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
