body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: slategray;
  margin: 0;
  font-family: Monaco, Consolas, 'Courier New',
  monospace;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

h1{
  color: whitesmoke;
  font-size: 3rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
