.container {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: .6rem solid #C2EFF5;
}

.page {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
}

