#h3-home {
  color: rgb(16, 24, 50);
  font-size: 4rem;
  font-family: 'Nanum Pen Script', cursive;
  font-weight: 400;
  text-align: center;
  line-height: 4.2rem;
  margin: 3rem;
  letter-spacing: .1rem;
}

.container-home {
  width: 100vw;
  height: 100%;
}

#home {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  height: 100%;
}

.button-wrapper1{
display: flex;
justify-content: center;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.jackInTheBox {
  margin-bottom: 1.6rem;
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
  animation: jackInTheBox 1.2s 1 ease-out;
}

