.containerA {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.login-svg {
    margin-bottom: 5.4rem;
}

input {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    background-color: #fffffd;
    margin-bottom: 5rem;
    height: 4.2rem;
    border: .3rem solid rgb(16, 24, 50);
    width: 24vw;
    overflow: visible;
    padding:0 1.6rem;
}
input:active{
  font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 40vw;
}

label {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}
